<mat-card class="modal-container">
  <div class="dialog-title">
    <h1>{{movie.title}}</h1>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" (click)="closeDialog()"></mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <img [src]="movie.image" alt="movie.title" />
    <div>
      <div class="info-block">
        <label for="synopsis"><strong>Sinopse:</strong></label>
        <p id="synopsis">{{movie.synopsis}}</p>
      </div>
        <div class="info-block">
          <label for="year"><strong>Data de Lançamento</strong></label>
          <p id="year">{{movie.year}}</p>
        </div>
        <div class="info-block">
          <label for="score"><strong>Nota</strong></label>
          <p id="score">{{movie.score | addStar}}</p>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-space-between">
      <mat-icon (click)="delete()">delete</mat-icon>
    </div>

</mat-card>
