.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#DBC6C1;
  color: #5B005B;
  font-weight: 900;

  div{
    margin-inline-end: 20px;
  }
  button {
    margin: 5px;
    transition: transform 0.2s ease-in-out; // Suaviza o efeito

    &:hover {
      transform: scale(1.1); // Aumenta o botão levemente
    }
  }
}
