.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#E5E5E5;
  color: #171817;
  font-weight: 900;

  button {
    color: #171817;
    font-weight: 700;
    transition: transform 0.2s ease-in-out; // Suaviza o efeito

    &:hover {
      transform: scale(1.1); // Aumenta o botão levemente
    }
  }
}
