.movie {
  width: fit-content;
  background-color: #FAFAFA;
  color: #171817;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 250px;
    height: 375px;
    border-radius: 5px;
  }

  .movie-info {
    padding: 20px;
    text-align: center;
  }

  .movie-extra-info {
    display: flex;
    justify-content: space-between;
  }

}

