<div class="pipe-container">
  <img src="https://angular.dev/assets/images/press-kit/angular_wordmark_gradient.png" alt="Favicon" class="favicon-image" />
  <h1>Pipes</h1>
  <p>
    Pipes são um operador especial em expressões de template Angular que permite que você transforme dados declarativamente em seu template. Pipes permitem que você declare uma função de transformação uma vez e então use essa transformação em múltiplos templates. Pipes Angulares usam o caractere de barra vertical ( |), inspirado no pipe Unix.
  </p>
  <p>
    Para mais informações, acesse a
    <a href="https://angular.dev/guide/templates/pipes" target="_blank" rel="noopener noreferrer">
      documentação oficial do Angular sobre Pipes
    </a>.
  </p>
</div>
