<div class="playround-container">
  <img src="https://angular.dev/assets/images/press-kit/angular_wordmark_gradient.png" alt="Favicon" class="favicon-image" />
  <mat-divider></mat-divider>

  <div class="pipe-container">
    <h1>Pipes</h1>
    <p>
      Pipes são um operador especial em expressões de template Angular que permite que você transforme dados declarativamente em seu template. Pipes permitem que você declare uma função de transformação uma vez e então use essa transformação em múltiplos templates. Pipes Angulares usam o caractere de barra vertical ( |), inspirado no pipe Unix.
    </p>
    <p>
      Para mais informações, acesse a
      <a href="https://angular.dev/guide/templates/pipes" target="_blank" rel="noopener noreferrer">
        documentação oficial do Angular sobre Pipes.
      </a>
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="flux-container">
    <h1>NgRx no Angular: Gerenciamento de Estado</h1>
    <p>
      O NgRx é uma biblioteca para gerenciamento de estado no Angular, baseada no padrão Redux. Ele permite gerenciar o estado global da aplicação de maneira previsível, escalável e reativa usando RxJS.
    </p>
    <p>
      Para mais informações, acesse a
      <a href="https://ngrx.io/docs" target="_blank" rel="noopener noreferrer">
        documentação oficial do NGRX.
      </a>
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="material-container">
    <h1>Angular Material</h1>
    <p>
      Angular Material é uma biblioteca de componentes UI (Interface de Usuário) que segue as diretrizes de design do Material Design do Google. Ela fornece uma série de componentes prontos para uso, como botões, caixas de diálogo, formulários, tabelas, menus, entre outros,
    </p>
    <p>
      Para mais informações, acesse a
      <a href="https://material.angular.io/" target="_blank" rel="noopener noreferrer">
        documentação oficial do Angular Material.
      </a>
    </p>
  </div>
  <mat-divider></mat-divider>

</div>
